<footer>
    <div>
        <div class="col-6 footer-content-division">
            <p class="footer-header">Pages</p>
            <ul class="navigation">
                {% for item in site.data.footer.main_pages %}
                <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6 footer-content-division">
            <p class="footer-header">Contact Us</p>
            <ul class="navigation">
                {% for item in site.data.footer.contact %}
                <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>