<nav>
    <ul class="navigation sidebar">
        {% include nav-icon.html %}
        {% if page.dir == "/" %}
        {% for item in site.data.navigation_main.main %}
        {% if page.url == item.link %}
        <li class="active"><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% else %}
        <li><a href="{{ item.link }}">{{item.name}}</a></li>
        {% endif %}
        {% endfor %}

        {% else %}
        <li><a href="/">Back to Main</a></li>
        {% if page.dir == "/edition1/" %}
        {% for item in site.data.navigation_main.edition1 %}
        {% if page.url == item.link %}
        <li class="active"><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% else %}
        <li><a href="{{ item.link }}">{{item.name}}</a></li>
        {% endif %}
        {% endfor %}

        {% elsif page.dir == "/edition2/" %}
        {% for item in site.data.navigation_main.edition2 %}
        {% if page.url == item.link %}
        <li class="active"><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% else %}
        <li><a href="{{ item.link }}">{{item.name}}</a></li>
        {% endif %}
        {% endfor %}
        {% elsif page.dir == "/edition3/" %}
        {% for item in site.data.navigation_main.edition3 %}
        {% if page.url == item.link %}
        <li class="active"><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% else %}
        <li><a href="{{ item.link }}">{{item.name}}</a></li>
        {% endif %}
        {% endfor %}

        {% elsif page.dir == "/edition4/" %}
        {% for item in site.data.navigation_main.edition4 %}
        {% if page.url == item.link %}
        <li class="active"><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% else %}
        <li><a href="{{ item.link }}">{{item.name}}</a></li>
        {% endif %}
        {% endfor %}

        {% elsif page.dir == "/edition5/" %}
        {% for item in site.data.navigation_main.edition5 %}
        {% if page.url == item.link %}
        <li class="active"><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% else %}
        <li><a href="{{ item.link }}">{{item.name}}</a></li>
        {% endif %}
        {% endfor %}

        {% elsif page.dir == "/edition6/" %}
        {% for item in site.data.navigation_main.edition6 %}
        {% if page.url == item.link %}
        <li class="active"><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% else %}
        <li><a href="{{ item.link }}">{{item.name}}</a></li>
        {% endif %}
        {% endfor %}

        {% elsif page.dir == "/edition7/" %}
        {% for item in site.data.navigation_main.edition7 %}
        {% if page.url == item.link %}
        <li class="active"><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% else %}
        <li><a href="{{ item.link }}">{{item.name}}</a></li>
        {% endif %}
        {% endfor %}

        {% elsif page.dir == "/edition8/" %}
        {% for item in site.data.navigation_main.edition8 %}
        {% if page.url == item.link %}
        <li class="active"><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% else %}
        <li><a href="{{ item.link }}">{{item.name}}</a></li>
        {% endif %}
        {% endfor %}

        {% endif %}
        {% endif %}
    </ul>
</nav>