:root {
    --clr-body-dark: #121212;
    --clr-text-light: #EEE;
    --clr-header-light: #D1CBCB;
    --clr-submit-light: #DEE4E7;
    --clr-hover-light: #BDBABA;
    --clr-feedback-dark: #272727;
    --clr-number-light: #F2F2F2;
}

body {
    background-color: var(--clr-body-dark);
    color: var(--clr-text-light);
}

.headerColor {
    color: var(--clr-header-light);
}

ul.navigation a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    transition: 0.6s ease;
    border-radius: 5px;
}

ul.navigation a:hover {
    background-color: var(--clr-hover-light);
    color: black;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 5px;
}

ul.navigation li.active a {
    background-color: white;
    color: black;
    padding: 15px 25px;
    font-weight: bold;
}

.column a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.6s ease-in-out;
}

.column a:hover {
    background-color: var(--clr-hover-light);
    padding: 15px 15px;
    color: black;
    border-radius: 5px;
}

.column {
    width: 50%;
    flex: 50%;
    float: left;
}

.editions-list::after {
    content: "";
    display: table;
    clear: both;
}

.pageHeader {
    color: var(--clr-header-light);
}

.articleHeader {
    color: var(--clr-header-light);
}

.feedbackContainer {
    background-color: var(--clr-feedback-dark);
}

button[type="submit"] {
    background-color: var(--clr-body-dark);
    color: var(--clr-submit-light);
}

button[type="submit"]:hover {
    background-color: black;
}

input, textarea {
    background-color: black;
    color: white;
}

.about-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.about-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
}

.footer-header {
    color: var(--clr-header-light);
}

.numbertext {
    color: var(--clr-number-light);
}
