body {
    background-color: #121212;
    color: #EEE;
}

ul.navigation a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    transition: 0.6s ease;
    border-radius: 5px;
}

ul.navigation a:hover {
    background-color: #bdbaba;
    color: black;
    padding: 15px 15px;
    border-radius: 5px;
}

ul.navigation li.active a {
    background-color: white;
    color: black;
    padding: 15px;
}

.column a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.6s ease-in-out;
}

.column a:hover {
    background-color: #bdbaba;
    padding: 15px 15px;
    color: black;
    border-radius: 5px;
}

.column {
    width: 50%;
    flex: 50%;
    float: left;
}

.editions-list::after {
    content: "";
    display: table;
    clear: both;
}

.pageHeader {
    color: #D1cbcb;
}

.articleHeader {
    color: #D1cbcb;
}

.feedbackContainer {
    background-color: #272727;
}

button[type="submit"] {
    background-color: #121212;
    color: #dee4e7;
}

button[type="submit"]:hover {
    background-color: black;
}

input, textarea {
    background-color: black;
    color: white;
}

.footer-header {
    color: #d1cbcb;
}