---
---

@font-face {
    font-family: 'Hey Gotcha Regular';
    src: url("../fonts/HeyGotcha-Regular.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@import "main";
@import "light";