<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" {{ page.description }} ">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico">
</head>

<body onload="myFunction()" style="margin:0;">
    <script>
        var myVar;

        function myFunction() {
            myVar = setTimeout(showPage, 750);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("myDiv").style.display = "block";
        }
    </script>
    <div id="loader"></div>
    <div style="display:none;" id=myDiv class="animate-bottom">
        <!--
            <div class=counter>
                <a href="https://www.hitwebcounter.com" target="_blank">
                    <img src="https://hitwebcounter.com/counter/counter.php?page=7840983&style=0025&nbdigits=5&type=page&initCount=0"
                        title="Free Counter" Alt="web counter" border="0" />
                </a>
                <p>Views in this website.</p>
            </div>
        -->
        <button onclick="topFunction()" id="myBtn" title="Go to top"><span class="material-icons">
                arrow_circle_up
            </span></button>
        <script>
            var mybutton = document.getElementById("myBtn");
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <div class=row>
            <div class=col-3>
                <div class="logo">
                    <a href="/"><img src="/assets/media/The-Blah-Logo.gif" style="border-radius:10%"></a><br><br><br><br><br><br>
                </div>
                {% include navigation_main.html %}
            </div>
            <div class=col-9>
                {{ content }}
            </div>
        </div>
        <div class="footer row">
            {% include footer.html %}
            <div class="row">
                <div class="col-12" style="text-align: center; border-top: 2px solid #dbb98f; font-size: smaller;">
                    <p>© 2021 The Blah. All Rights Reserved.</p>
                    <p>All assets, text, images, videos, audios and other content shown in "The Blah" website are protected under the <a href="/LICENSE.CC-BY-NC-ND-4.0.txt">CC-BY-NC-ND 4.0</a> License.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>