<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" {{ page.description }} ">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/dark-theme.css" class='theme-link'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="https://kit.fontawesome.com/ebd1a9005a.js" crossorigin="anonymous"></script>
</head>

<body onload="myFunction()" style="margin:0;" class='dark-theme || light-theme'>
    <script>
        var myVar;

        function myFunction() {
            myVar = setTimeout(showPage, 750);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("main-div").style.display = "block";
        }
    </script>
    <div id="loader">
        <img src="/assets/media/The-Blah-Logo.png" height="120px" width="120px">
        <div id="spinner"></div>
    </div>
    <div style="display:none;" id="main-div" class="animate-bottom">
        <!--
            <div class=counter>
                <a href="https://www.hitwebcounter.com" target="_blank">
                    <img src="https://hitwebcounter.com/counter/counter.php?page=7840983&style=0025&nbdigits=5&type=page&initCount=0"
                        title="Free Counter" Alt="web counter" border="0" />
                </a>
                <p>Views in this website.</p>
            </div>
        -->
        <button onclick="topFunction()" id="scroll-top-btn" title="Go to top"><span class="material-icons">
                arrow_circle_up
            </span></button>
        <script>
            var mybutton = document.getElementById("scroll-top-btn");
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <div class=row>
            <div class=col-3>
                <div class="logo">
                    <a href="/"><img src="/assets/media/The-Blah-Logo.gif" style="border-radius:10%"></a><br><br><br>
                    <div class='icon-wrapper'>
                        <a><i class="fas fa-adjust fa-2x dark-toggle"></i></a>
                    </div>
                    <p style="display: block; text-align: center; margin-bottom: 25%; font-size: 10px;">Theme Toggle
                    </p>
                    <script src="/theme.js"></script>
                </div>
                {% include navigation_main.html %}
            </div>
            <div class=col-9>
                {{ content }}
            </div>
        </div>
        <div class="footer row">
            {% include footer.html %}
        </div>
        <div class="row">
            <div class="col-12" style="text-align: center; font-size: smaller;">
                <p>© 2021 The Blah. All Rights Reserved.</p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img
                        alt="Creative Commons Licence" style="border-width:0"
                        src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />All assets, images,
                audios, videos, text and other work shown on this website are licensed under a <a rel="license"
                    href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons
                    Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
            </div>
        </div>
    </div>
</body>

</html>