---
layout: main
---

<h1 style="font-size: 43px; text-align: center;" class="headerColor">
    ═══════
    <br />
    <span style="font-family: 'Hey Gotcha Regular', sans-serif; letter-spacing: 1.75px;" class="headerColor">
        {{ page.title }}
    </span>
    <br />
</h1>

<p style="text-align: center; font-size: 20px;">
    <span style="font-family: 'Hey Gotcha Regular', sans-serif; letter-spacing: 1.75px;" class="headerColor">
        by {{ page.author }}
    </span>
    <br />
    <span style="font-size: 43px;" class="headerColor">
        ═══════
    </span>
</p>

<div style="text-align: center;" class="paragraphs">
    {{ content }}
</div>
